<div ng-app="app">
  <div ng-controller="chatsCtrl" ng-init="init('<%= @url %>')">



<!-- Chomment Modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Chomments</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>

          <div id="chatbox">

            <% @comment.each do |text| %>
              <ul>
                <li>
                  <%= text.user.email %>: <%= text.body %>    
                </li>
              </ul>
            <% end %>

 <input name="message" ng-model="message">
  <a href="#" class="btn btn-primary" ng-click="chat(message, url)">Submit</a>

          </div>
        </div>
      </div>
    </div>

<!-- End Chomment Modal -->

 

<iframe class="chat-frame" src="<%= @url %>"></iframe>

  </div>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      // Pusher.log = function(message) {
      //   if (window.console && window.console.log) {
      //     window.console.log(message);
      //   }
      // };

      var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");
      var channel = pusher.subscribe('<%= @url.gsub("http://", "") %>');
      channel.bind('my_event', function(data) {
        console.log(data.message);
        $("#chatbox").append(data.message + "\n");
      });
    </script>
  </script>
