<div ng-app="app">
  <div ng-controller="chatsCtrl" ng-init="init('<%= @url %>')">

              
<!-- Chomment Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>

            <div id="chatbox">
              <div id="comments-box">
                <ul id="comments-list">
                  <% @comments.each do |comment| %>
                    <li>
                      <%= comment.user.username %>: <%= comment.body %>    
                    </li>
                  <% end %>
                </ul>
              </div>
              
              <div id="chatbox-submit">
                <% if user_signed_in?  %>
                  <textarea name="message" id="chat-message-box" ng-model="message" ng-keypress="pressKey($event)"></textarea>
                  <a href="#" id="submit-chat" class="btn btn-primary btn-xs" ng-click="chat(message, url)">Submit</a>
                <% else %>
                  <%= link_to('Register', new_user_registration_path)  %> or 
                  <%= link_to('Sign In', new_user_session_path)  %> to Chomment
                <% end %>
              </div>

            </div>
        </div>

      </div>
    </div>

<!-- <div id="test-box">{{ testData }}</div> -->

<!-- End Chomment Modal -->

<iframe class="chat-frame"  src="http://<%= @url %>"></iframe>


  </div>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

<% if user_signed_in?  %>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    // Pusher.log = function(message) {
    //   if (window.console && window.console.log) {
    //     window.console.log(message);
    //   }
    // };

    var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");
    var channel = pusher.subscribe('<%= @url.gsub("http://", "") %>');
    channel.bind('my_event', function(data) {
      $("#comments-list").append('<li>' + '<%= current_user.username %>' + ': ' + data.message + '</li>');
      $("#chat-message-box").val('');
      console.log($("#comments-box").height());
      $("#comments-box").animate({scrollTop: $("#comments-box").height()}, "fast");
    });
  </script>
<% end %>
