<h1> Chat Form </h1>

<div id="chatbox">

</div>

<%= form_tag({controller: "comments", action: "create"}, method: "post") do %>

  <%= hidden_field_tag :url, @url %>
  <%= label_tag(:message, "Message") %>
  <%= text_field_tag(:message) %>
  <%= submit_tag("Chat") %>
  
<% end %>

<!-- <iframe class="chat-frame" src="<%= @url %>"></iframe> -->

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Enable pusher logging - don't include this in production
      // Pusher.log = function(message) {
      //   if (window.console && window.console.log) {
      //     window.console.log(message);
      //   }
      // };

      var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");
      var channel = pusher.subscribe('<%= @url.gsub("http://", "") %>');
      channel.bind('my_event', function(data) {
        console.log(data.message);
        $("#chatbox").append(data.message + "\r");
      });
    </script>
  </script>
