<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
        
    <div class="container">
      <i class="fa fa-comments fa-4x"></i>
        <div id="text">
          <%= link_to @title, "/" %>
        </div>

      <% if @comments %>
        <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Chomments</button>
      <% end %>


        <div class="col-lg-6">
          <div class="input-group">
                  
                  <%= form_tag('/display_url', method: :post) do %>
                  <%= text_field_tag 'display', nil, placeholder: 'Enter a URL to Chat About Any Page on the Internet', class: "form-control" %>
                  <div class="input-group-btn" id="top-url-bar">
                    <%= submit_tag "Go!",  class: "btn btn-group btn-default" %>
                  </div>
                  <% end %>
                  
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</nav> 



    <% flash.each do |name, message| %>     
      <div class="alert alert-<%= name %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>   
      </div> 
           
    <% end %>



<%= yield %>

</body>
</html>
