<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>



<nav class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
      <a class="navbar-brand" href="/">chomment</a>


    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <%= form_tag('/display_url', method: :post, class: "navbar-form navbar-left", role: "search", id: "url-bar-form") do %>
          <div class="form-group" id="url-bar-form-group">
            <%= text_field_tag 'display', nil, placeholder: (@url || 'Enter a URL'), class: "form-control", :id => "url-bar" %>
            <%= submit_tag "Go!",  class: "btn btn-default" %>
          </div>
        <% end %>


      <% if @comments %>
        <button class="btn btn-primary navbar-btn" data-toggle="modal" data-target=".bs-example-modal-lg" id="navbar-chomment-button">Chomments</button>
      <% end %>
   



      <!-- </form> -->
      <ul class="nav navbar-nav navbar-right">
      
        <% if user_signed_in? %>

          <p class="navbar-text"><% if current_user %> Welcome, <%= current_user.username %>!</p>
            <% end %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/users/edit">My Account</a></li>
              <li class="divider"></li>
              <li><a data-method="delete" rel="nofollow" href="/users/sign_out">Sign Out</a></li>
            </ul>
          </li>
        </ul>

          <%else %>
            <li><%= link_to('Sign Up', new_user_registration_path)  %> </li>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %> 

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
          <% flash.each do |name, message| %>     
            <div class="alert alert-<%= name %>">
              <button type="button" class="close" data-dismiss="alert">&times;</button>                            
                <%= message %>  
            </div> 
          <% end %>

<%= yield %>

</body>
</html>
<%= render 'layouts/footer' %>